.msgHeader {
    width: 900px;
    height: 130px;
    background-color: lightgray;
    display: flex;
    flex-direction: row;
}

.praghHead {
    display: flex;
    flex-direction: column;
}

#pHeader {
    font-size: x-large;
    color: black;
    margin: 10px;
}

span {
    color: gray;
    font-size: large;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-left: 550px;
    padding-top: 10px;
}



.msgFooter {
    margin: 20px;
}